<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <title>TechShop</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <!-- <link rel="stylesheet" href="css/estilos.css"> -->
            <link th:href="@{webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
                <link th:href="@{webjars/font-awesome/css/all.css}" rel="stylesheet">
                    <script th:src="@{webjars/jquery/jquery.js}"></script>
                    <script th:src="@{webjars/popper.js/umd/popper.min.js}"></script>
                    <script th:src="@{webjars/bootstrap/js/bootstrap.min.js}"></script>
                    </head>    
                    <body>         
                        <header th:fragment="header" class="header">
                            <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0 text-white">
                                <div class="container">
                                    <a th:href="@{/}" class="navbar-brand">Logo</a>
                                    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"><i class="fa-solid fa-bars"></i></button>
                                </div>
                                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                                    <ul class="navbar-nav">
                                        <li class="nav-item px-2"><a class="nav-link" th:href="@{/categoria/listado}">Categoria</a></li>
                                        <li class="nav-item px-2"><a class="nav-link" th:href="@{/categoria/listado}">OK</a></li>
                                        <li class="nav-item px-2"><a class="nav-link" th:href="@{/categoria/listado}">OK</a></li>                     
                                    </ul>
                                </div>
                                
                            </nav>
  

                        </header>

                        <footer th:fragment="footer" class="p-2 mt-5 bg-info text-white">
                            <p class="lead text-center">TechShop todos los derechos reservados &COPY; </p>
                        </footer>
                    </body>
                    </html>
